/*.recipe-card {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    width: 100%;*/
/*    position: relative;*/
/*    text-decoration: none;*/
/*    padding: 10px 10px 10px 10px;*/
/*    background-color: #eeeeee;*/
/*    border: 1px solid #e1e1e1;*/
/*    box-shadow: 0 5px 10px -5px #C0C0C0;*/
/*    border-radius: 0 0 5px 5px;*/
/*}*/


.recipe-card:hover {
    box-shadow: 0 20px 25px -10px #C0C0C0;
}

.recipe-link {
    text-decoration: none;
    color: black;
}

.recipe-picture {
    height: 150px;
    object-fit: cover;
    border-radius: 3px 3px 0 0;
}

.recipe-card__title{
    padding: 10px 10px 10px 10px;
    background-color: #eeeeee;
    border: 1px solid #e1e1e1;
    box-shadow: 0 5px 10px -5px #C0C0C0;
    border-radius: 0 0 5px 5px;
    text-decoration: none;
    color: black;
}

.recipe-card__title > h5 {
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipe-card__ingredients-calories {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 5px 0;
}

.recipe-card__time {
    display: flex;

}


