.searchbar__outer-container {
    /*border: 1px solid hotpink;*/
    width: 100%;
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
    /*gap: 2em;*/
    padding: 10px 10px 10px 10px;
    margin-top: 60px;
}

.searchbar__inner-container {
    /*border: 1px solid red;*/
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px 5px 5px 5px;
}

.recipe-results {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    align-self: center;
    gap: 20px 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

