

* {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
}

:root {
      --color1: #283E53;
      --color2: #71B6BE;
      --color3: #EEEEEE;
      --color4: #FFFFFF;
      --color5: #C0C0C0;
      --color6: #e1e1e1;
}


main {
      background-color: var(--color4);
}