/*.outer-container {*/
/*    !*border: 1px solid red;*!*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 100%*/
/*}*/


.hero__outer-container {
    /*border: 1px solid hotpink;*/
    background-image: url("../../assets/images/hero-image.jpg");
    background-size: cover;
    flex-basis: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.hero__inner-container {
    /*border: 1px solid red;*/
    min-width: 200px;
    align-self: center;
    margin-right: 12%;
    margin-top: 12%;
}

.homepage-title {
    text-transform: capitalize;
    color: var(--color4);
    font-size: 60px;
    font-weight: 700;
}

.homepage-subtitle {
    text-transform: capitalize;
    color: var(--color4);
    font-size: 60px;
    font-weight: 400;
}

.header__feature-recipes {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0 20px 0;
    align-items: center;
}

.feature-recipes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0 20px 0;
    align-self: center;
}

.feature-recipes__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    position: relative;
    top: -15px;
    z-index: 1;
    height: 45%;

}

Herorecipe > img {
    height: 12px;
    width: 50%;
    object-fit: cover;
    border-radius: 3px 3px 0 0;
}


